<h1 class="title">
  <%= session[:name1] %> vs <%= session[:name2] %>
</h1>

<h2 class="player2hp">
  <%= session[:name2] %>'s HP: 100
</h2>


<form action="/confirmation" method="POST">
  <button class="player1_attack_button" name="player1_attack_button" type="submit" value="player1_attacked">Attack Player 2</button>
</form>
